
<div class="example-container">
    <mat-form-field>
        <input #username matInput placeholder="Email" type="text" class="example-left-align">
      </mat-form-field>

  <mat-form-field>
    <input #password matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>

      <button (click)="login(username.value, password.value)" mat-raised-button color="primary">Entrar</button>

</div>
