<div>
  <h1>
    Carrinho: 
  </h1>
  <h4 *ngFor="let item of carrinho" >
    ID: {{ item.id }} |
    Nome: {{ item.nome }} |
    Descrição: {{ item.descricao }} |
    Preço: {{ item.preco }} |
    <button (click)="removeCarrinho(item)">X</button>
  </h4>

  <button style="cursor: pointer;" *ngIf="carrinho.length != 0"  (click)="finalizarPedido()">Finalizar pedido</button>
  <hr>
  <br>
</div>


<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- id Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <!-- nome Column -->
  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
  </ng-container>

  <!-- preco Column -->
  <ng-container matColumnDef="preco">
    <mat-header-cell *matHeaderCellDef> Preço </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.preco}} </mat-cell>
  </ng-container>

  <!-- descricao Column -->
  <ng-container matColumnDef="descricao">
    <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.descricao}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="deletar">
    <mat-header-cell *matHeaderCellDef> Excluir </mat-header-cell>
      <mat-cell (click)="deleteProduto(element.id)" *matCellDef="let element">
        <mat-icon style="cursor: pointer;">delete</mat-icon> 
      </mat-cell>
  </ng-container>

  <ng-container matColumnDef="add">
    <mat-header-cell *matHeaderCellDef> Adicionar no carrinho </mat-header-cell>
      <mat-cell (click)="addCarrinho(element)" *matCellDef="let element">
        <mat-icon style="cursor: pointer;">add</mat-icon> 
      </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
