<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- id Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <!-- preco Column -->
  <ng-container matColumnDef="data">
    <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.data}} </mat-cell>
  </ng-container>

  <!-- descricao Column -->
  <ng-container matColumnDef="valor">
    <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.valor}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="pagamento">
    <mat-header-cell *matHeaderCellDef> Pagamento </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.pagamento}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="produtos.nome">
    <mat-header-cell *matHeaderCellDef> Nome do produto </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.produtos.nome}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="clientes.nome">
    <mat-header-cell *matHeaderCellDef> Nome do cliente </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.clientes.nome}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="deletar">
    <mat-header-cell *matHeaderCellDef> Excluir </mat-header-cell>
      <mat-cell (click)="deletePedido(element.id)" *matCellDef="let element">
        <mat-icon>delete</mat-icon> 
      </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
